.main-container{
    background-color: #D5E8E1;
}

.transaction-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
.chart-container{
    max-height: 600px;
    overflow-y: auto;
}


.transaction-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.transaction-item:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-color: #007BFF;
    background-color: #000000;
}

.transaction-kind {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.transaction-details {
    margin-bottom: 10px;
}

.transaction-details > div {
    margin: 5px 0;
}

button {
    margin-top: 5px;
    align-self: flex-end;
    padding: 5px 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover{
    transform:scale(1.05);
    box-shadow: 0 4px 8px rgba(230,0,0,0.3);
}

.bg-color, input[type = "text"], input[type = "number"], select
{
    background-color: #FFFFFF !important;
}

.mg-set
{
    margin-top: 150px;
}

.newkind-m
{
    margin-right: 180px;
}