.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #a4dec9, #a2bdde);
  width: 100vw;
}

.forgot-password-card {
  width: 320px;
  padding: 2rem;
  background-color: rgba(68, 68, 68, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  gap: 20px;
}

.styled-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.styled-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #0056b3;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  